# ipynb
*.ipynb*

# .DS_Store
.DS_Store

# datafiles
*.txt
*.csv

# venv
/venv/*
/.venv/
app/.venv/

# tfvars
terraform/*.tfvars

# terraform
.terraform*

# vscode
.vscode/

# pycache
app/__pycache__/

# build artifacts
*.egg-info/
dist/
build/
